<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="crud">{{ "CRUD" | translate }}</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <!-- Utilisez la classe 'me-auto' pour aligner à gauche -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">{{
            "Home" | translate
          }}</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <!-- Language icon -->
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="toggleLanguageDropdown()">
            <span>{{ getCurrentLanguageCode() }}</span>
            <img
              src="assets/icons/lng.png"
              class="language-icon"
              style="width: 20px; height: 20px"
            />
          </a>
        </li>

        <!-- Dropdown for language selection -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa fa-language"></i>
            <!-- Icon for language selection -->
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="#" (click)="switchLanguage('en')"
                >English</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#" (click)="switchLanguage('fr')"
                >Français</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#" (click)="switchLanguage('ar')"
                >العربية</a
              >
            </li>
          </ul>
        </li>
        <!-- End of language selection dropdown -->

        <!-- Add item -->
        <li class="nav-item">
          <a class="nav-link active" (click)="openAddModal()">{{
            "Add" | translate
          }}</a>
        </li>

        <!-- Login button -->
        <li class="nav-item">
          <a class="nav-link" (click)="openLoginModal()">{{
            "Login" | translate
          }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div
  bsModal
  #addmodal="bs-modal"
  class="modal fade"
  tabindex="-1"
  aria-labelledby="addLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addLabel">{{ "Register" | translate }}</h5>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="addEmploy(registerForm)" #registerForm="ngForm">
          <div class="form-group">
            <label for="name">{{ "Enter name" | translate }}</label>
            <input
              type="text"
              name="name"
              class="form-control"
              [(ngModel)]="registerData.name"
              required
              minlength="3"
            />
            <div
              *ngIf="
                registerForm.controls['name']?.errors?.['required'] &&
                registerForm.controls['name']?.touched
              "
              class="text-danger"
            >
              {{ "Name is required." | translate }}
            </div>
            <div
              *ngIf="
                registerForm.controls['name']?.errors?.['minlength'] &&
                registerForm.controls['name']?.touched
              "
              class="text-danger"
            >
              {{ "Name must be at least 3 characters." | translate }}
            </div>
          </div>
          <div class="form-group">
            <label for="email">{{ "Enter email" | translate }}</label>
            <input
              type="email"
              name="email"
              class="form-control"
              [(ngModel)]="registerData.email"
              required
              email
            />
            <div
              *ngIf="
                registerForm.controls['email']?.errors?.['required'] &&
                registerForm.controls['email']?.touched
              "
              class="text-danger"
            >
              {{ "Email is required." | translate }}
            </div>
            <div
              *ngIf="
                registerForm.controls['email']?.errors?.['email'] &&
                registerForm.controls['email']?.touched
              "
              class="text-danger"
            >
              {{ "Please enter a valid email address." | translate }}
            </div>
          </div>
          <div class="form-group">
            <label for="password">{{ "Enter password" | translate }}</label>
            <input
              type="password"
              name="password"
              class="form-control"
              [(ngModel)]="registerData.password"
              required
              minlength="6"
            />
            <div
              *ngIf="
                registerForm.controls['password']?.errors?.['required'] &&
                registerForm.controls['password']?.touched
              "
              class="text-danger"
            >
              {{ "Password is required." | translate }}
            </div>
            <div
              *ngIf="
                registerForm.controls['password']?.errors?.['minlength'] &&
                registerForm.controls['password']?.touched
              "
              class="text-danger"
            >
              {{ "Password must be at least 6 characters." | translate }}
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              (click)="closeAddModal()"
            >
              {{ "Close" | translate }}
            </button>
            <button type="submit" class="btn btn-primary">
              {{ "Register" | translate }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Login modal-->
<div
  bsModal
  #loginmodal="bs-modal"
  class="modal fade"
  tabindex="-1"
  aria-labelledby="loginLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginLabel">{{ "Login" | translate }}</h5>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="login()" #loginForm="ngForm">
          <div class="form-group">
            <label for="email">{{ "Enter email" | translate }}</label>
            <input
              type="email"
              name="email"
              class="form-control"
              [(ngModel)]="loginData.email"
              required
              email
            />
            <div
              *ngIf="
                loginForm.controls['email'].errors?.['required'] &&
                loginForm.controls['email'].touched
              "
              class="text-danger"
            >
              {{ "Email is required." | translate }}
            </div>
            <div
              *ngIf="
                loginForm.controls['email'].errors?.['email'] &&
                loginForm.controls['email'].touched
              "
              class="text-danger"
            >
              {{ "Please enter a valid email address." | translate }}
            </div>
          </div>
          <div class="form-group">
            <label for="password">{{ "Enter password" | translate }}</label>
            <input
              type="password"
              name="password"
              class="form-control"
              [(ngModel)]="loginData.password"
              required
              minlength="6"
            />
            <div
              *ngIf="
                loginForm.controls['password'].errors?.['required'] &&
                loginForm.controls['password'].touched
              "
              class="text-danger"
            >
              {{ "Password is required." | translate }}
            </div>
            <div
              *ngIf="
                loginForm.controls['password'].errors?.['minlength'] &&
                loginForm.controls['password'].touched
              "
              class="text-danger"
            >
              {{ "Password must be at least 6 characters." | translate }}
            </div>
          </div>
          <button type="submit" class="btn btn-primary">
            {{ "Login" | translate }}
          </button>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="closeLoginModal()"
        >
          {{ "Close" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
